
<div id='sensor-menu' class='row'>
<nav class='bt-menu'>
    <a href='#' class='bt-menu-trigger'><i class="fa fa-camera"></i></a>
    <ul>
        <li><a href='#' class='bt-icon icon-bubble'><i class="fa fa-times-circle"></i></a></li>
        <li><a href='#' class='bt-icon icon-user-outline'><i class="fa fa-adjust"></i></a></li>
        <li><a href='#' class='bt-icon icon-sun'><i class="fa fa-arrows-alt"></i></a></li>
        <li><a href='#' class='bt-icon icon-windows'><i class="fa fa-undo"></i></a></li>
        <li><a href='#' class='bt-icon icon-speaker'><i class="fa fa-tint"></i></a></li>
        <li><a href='#' class='bt-icon icon-star'><i class="fa fa-trash"></i></a></li>
    </ul>
</nav>
</div>