
{% set collection = page.collection() %}
{% set base_url = page.url %}
{% set feed_url = base_url %}

{% if base_url == '/' %}
    {% set base_url = '' %}
{% endif %}

{% if base_url == base_url_relative %}
    {% set feed_url = base_url~'/'~page.slug %}
{% endif  %}


{% set titletext = site.metadata.title %}
{% if project.name %}
{% set titletext = project.name %}
{% endif  %}

<style>
.buttons {
    display: none;
}
</style>

    <div class="page">
      <div class="page-main">
        <div id="dashboard-title" class="header py-4">
          <div class="container">
            <div class="d-flex">            
             <div class="title"><h2>{{ titletext }}</h2></div> 
             <div class="d-flex order-lg-2 ml-auto">

                <span id="dashboard-tour" class="avatar avatar-yellow" data-toggle="tooltip" title="Guided Tour of this page">?</span>

                <div class="dropdown">
                  <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                    <span class="avatar avatar-blue">{{ grav.user.fullname|first|upper }}</span>
                    <span class="ml-2 d-none d-lg-block">
                      <span class="text-default">{{ grav.user.fullname }}</span>
                      <small class="text-muted d-block mt-1">{{ grav.user.title }}</small>
                    </span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                    <a class="dropdown-item" href="#">
                      <i class="dropdown-icon fe fe-user"></i> Profile
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="dropdown-icon fe fe-settings"></i> Settings
                    </a>
                    <a class="dropdown-item" href="#">
                      <span class="float-right"><span class="badge badge-primary">6</span></span>
                      <i class="dropdown-icon fe fe-mail"></i> Inbox
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="dropdown-icon fe fe-send"></i> Message
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                      <i class="dropdown-icon fe fe-help-circle"></i> Need help?
                    </a>
                    {# {% include "partials/login-logoutseer.html.twig" %} #}
                  </div>
                </div>
            </div>
              <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
              </a>
            </div>
          </div>
        </div>

{% include 'dashboard/menu.html.twig' %}
