
{# {{ include("templates/viewer/sensors/sensor-header.html.twig") }} #}

<div class="container-fluid allchannels">
  	<div class="row mainrow">
	</div>
</div>

<div class="notify-topbar"></div>

{{ include( "templates/menus/popup-menu-main.html.twig", with_context = true) }}
{{ include( 'templates/menus/main-menu-handler.html.twig', with_context = true) }}


<div class="loading">
    <div class="loadinglogo">
        <div class="loadingspinner">
        </div>
    </div>
</div>

