<style>
.fileview-icon {
    width:16px;
    padding-left: 4px;
    text-align: center;
}

.ui-table {
    overflow: hidden;
    width: 600px;
}

.ui-table tr td {
    overflow: hidden;
    width: 500px;
}

.ui-table tr td:first-child {
    overflow: hidden;
    width: 140px;
    max-width: 120px;
    min-width: 120px;
}
</style>

<div id="wrapper">
	<ul id="menuContainer"></ul>
	<div id="layoutContainer"></div>
</div>