{% extends 'partials/base-nonav.html.twig' %}

{% block body %}
    <body id="page">
{% endblock %}

{% block content %}
	<div class="entry-content">
		<div>
			<p>
				{{ page.content }}
			</p>
		</div>
	</div>
{% endblock %}
