
<div id="sensor-status" class="sensor-summary">
<div class="row">
<div class="col-sm-2"><p>&nbspSENSOR: {{ viewmode }}</p></div>
<div id="sensorTilt" class="col-sm-1"><p>AZ: 0</p></div>
<div id="sensorHeading" class="col-sm-1"><p>HDG: 000</p></div>
<div id="sensorAltitude" class="col-sm-1"><p>ALT: 0</p></div>
<div id="sensorSpeed" class="col-sm-1"><p>SPD: 0</p></div>
<div id="status-datain" class="col-sm-1"><p>DI:</p></div>
<div id="status-dataout" class="col-sm-1"><p>D0:</p></div>
<div id="status-simtime" class="col-sm-2"><p>SIM: 00:00:00</p></div>
<div id="status-realtime" class="col-sm-2"><p>TIME: 00:00:00</p></div>
</div>
</div>