<script>

function initSceneMapping() {


  $('#select-module').on('click', function (e) {
    var optionSelected = $("option:selected", this);
    var valueSelected = this.value;
//console.log(valueSelected);

    var dataliststr = scenedata[valueSelected];
    dataliststr = dataliststr.replace(/'/g, '"');
    var datalist = JSON.parse( dataliststr ).data;

//console.log(datalist);
    sceneidSelected = scenedata[valueSelected].sceneid;

//    if( datalist.models.length > 0 ) {
//      $('#select-module').val(datalist.models);
//    } else {
//      $('#select-module').val(0);
//    }
    var html = "";

    for (let key of Object.keys(datalist)) {  
      let value = datalist[key];   
      var texttype = key.replace(/[0-9]/g, '');
      var textobject = "";
      if(texttype in tableObjectTextFunc) {
        textobject = tableObjectTextFunc[texttype]( value );
      }

      html += "<tr><td>";
      html += "<div>" +  value.name + "</div>";
      html += "</td><td>";
      html += "<div>" + textobject + "</div>";
      html += "</td><td>";
      html += "<div>" + texttype + "</div>";
      html += "</td></tr>";      
    }
//    html = html.replace(/;/g, "");

    $('#scene-data-table').html(html);

    $('.tablehider > tbody').toggle();
    $('.tablehider > thead').on('click', function (e) {

          var myparent = $(this.parentNode); //jquery obj
          console.log(myparent);
          
          myparent.find('tbody').toggle();
    });
  });

  $('#select-module').on('change', function (e) {
    var optionSelected = $("option:selected", this);
    var valueSelected = this.value;

    if(valueSelected === '0') { valueSelected = ""; }

    var url = "{{ page.url }}";
    var params = "{{ uri.query }}&sceneid=" + sceneidSelected + "&models=" + valueSelected;

    var http = new XMLHttpRequest();
    http.open("POST", url, true);

    // Write this to the DB if possible. Ideally a simple submit would be great!
    http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    http.setRequestHeader("Content-length", params.length);
    http.setRequestHeader("Connection", "close");

    http.onreadystatechange = function() {//Call a function when the state changes.
      if(http.readyState == 4 && http.status == 200) {
        //$('#error_output').html(http.responseText);
        console.log(http.responseText);
      }
    }
    http.send(params);

  });

}
</script>
