    <div class="col-12">

      <div class="form-group col-2">
        <label class="form-label">Object Mapping</label>
        <select name="system-select" id="select-system-mappingtype" class="form-control custom-select">
          <option value="ros">ROS</option>
          <option value="matlab">Matlab</option>
          <option value="scratch">Scratch</option>
          <option value="javascript">JavaScript</option>
          <option value="python">Python</option>
          <option value="lua">Lua</option>
        </select>
      </div>

    </div>

    <div class="row">
      <div class="table-responsive"  style="min-height: 18rem;">
        <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
          <thead>
            <tr>
              <th>Data Name</th>
              <th>Value</th>
              <th>Type</th>
              <th class="text-center"><i class="icon-settings"></i></th>
            </tr>
          </thead>
          <tbody id="scene-datamapping-table">
          </tbody>
        </table>
      </div>      
    </div>

    <div id="error_output_dm">
    </div>


