<div id="select-event"  class="select-popup">
	<nav class="radial select-obj-icon">
	<input type="checkbox" id="menu-event">
	<div id="btn-move-event" class="btn fa fa-arrows-alt" data-toggle="tooltip" title="Move event">Move</div>
	<div id="btn-scale-event" class="btn fa fa-expand" data-toggle="tooltip" title="Scale the size of the event zone">Scale event</div>
	<div id="btn-link-event" class="btn fa fa-link" data-toggle="tooltip" title="Select linked Event">Link Event</div>
	<div id="btn-delete-event" class="btn fa fa-trash-o"  data-toggle="tooltip" title="Delete event">Delete</div>
	<label for="menu-event" class='fa fa-bars'>Menu</label>
	</nav>

	<div id="select-event-line"></div>
</div>