<div id="select-sensor"  class="select-popup">
	<nav class="radial select-obj-icon">
	<input type="checkbox" id="menu-sensor">
	<div id="btn-move-sensor" class="btn fa fa-arrows-alt" data-toggle="tooltip" title="Move Sensor">Move</div>
	<div id="btn-rotate-sensor" class="btn fa fa-undo" data-toggle="tooltip" title="Rotate Sensor">Rotate</div>
	<div id="btn-sensor-channel" class="btn fa fa-tv" data-toggle="tooltip" title="Add Sensor to Channel Map">Channel Map</div>
	<div id="btn-switch-sensor" class="btn fa fa-random" data-toggle="tooltip" title="Change Sensor">Change Sensor</div>
	<div id="btn-link-sensor" class="btn fa fa-link" data-toggle="tooltip" title="Select linked Object">Link Object</div>
	<div id="btn-delete-sensor" class="btn fa fa-trash-o"  data-toggle="tooltip" title="Delete Sensor">Delete</div>
	<label for="menu-sensor" class='fa fa-bars'>Menu</label>
	</nav>

	<div id="select-sensor-line"></div>
</div>