
<div id="select-spline"  class="select-popup">
	<nav class="radial select-spline-icon">
	<input type="checkbox" id="menu-spline">
	<div id="btn-move-spline" class="btn fa fa-arrows-alt">Move</div>
	<div id="btn-rotate-spline" class="btn fa fa-redo">Rotate</div>
	<div id="btn-change-spline" class="btn fa fa-adjust">Toggle</div>
	<div id="btn-size-spline" class="btn fa fa-expand">Size</div>
	<div id="btn-delete-spline" class="btn fa fa-trash-o">Delete</div>
	<label for="menu-spline" class='fa fa-bars'>Menu</label>
	</nav>

	<div id="select-spline-line"></div>
</div>