<div class="tacoGauge">
    <div class="tacoGauge-a"></div>
    <div class="tacoGauge-b"></div>
    <div class="tacoGauge-c"></div>
    <div class="tacoGauge-data"><h1 id="gauge-rpm">0 rpm</h1></div>
</div>