
<!-- // Mobile button set -->
<div class="mobileBtnSet">
  <div class="mobileInnerLeft">
  <div id="mobilebtn-steer-left" class="mobileBtn">
    <div class="btn fa fa-chevron-circle-left">
    </div>
  </div>
  <div id="mobilebtn-steer-right" class="mobileBtn">
    <div class="btn fa fa-chevron-circle-right">
    </div>
  </div>
  <div class="mobileInnerRight">
  <div id="mobilebtn-brake" class="mobileBtn">
    <div class="btn fa fa-chevron-circle-down">
    </div>
  </div>
  <div id="mobilebtn-accel" class="mobileBtn">
    <div class="btn fa fa-chevron-circle-up">
    </div>
  </div>
  </div>
  </div>
</div>

