<!-- // Performance button set -->
<div class="perfBtnSet">
  <div class="perfInner">
  <div id="perfbtn-audio" class="perfBtn">
    <div class="btn fa fa-music" data-toggle="tooltip" title="Toggle Audio">
    </div>
  </div>
  <div id="perfbtn-tree" class="perfBtn">
    <div class="btn fa fa-tree" data-toggle="tooltip" title="Toggle Trees">
    </div>
  </div>
  <div id="perfbtn-building" class="perfBtn">
    <div class="btn fa fa-building-o" data-toggle="tooltip" title="Toggle Buildings">
    </div>
  </div>
  <div id="perfbtn-ppl" class="perfBtn">
    <div class="btn fa fa-user" data-toggle="tooltip" title="Toggle People">
    </div>
  </div>
  <div id="perfbtn-viewdist" class="perfBtn">
    <div class="btn fa fa-eye" data-toggle="tooltip" title="Toggle People">
    </div>
  </div>
  </div>
</div>