<!-- // SlideOut -->
<div id="slideOutTimes">
<!--   // Tab -->
  <div class="slideOutTab">
    <div class="btn fa fa-clock-o slideOutIcon" data-toggle="tooltip" title="Lap Times">
    </div>
  </div>
  <div class="modal-content">
    <div class="modal-header">
      <div id="btn_laptimes_reset" class="btn slideOutBtn"><span class="fa fa-repeat" data-toggle="tooltip" title="Reset Lap Times"></span></div>
      <div id="btn_laptimes_sync" class="btn slideOutBtn"><span class="fa fa-pause" data-toggle="tooltip" title="Sync Times"></span></div>
    </div>

    <div class="modal-body">
      <h5 class="modal-title">Lap Times</h5> 
      <div class="laptimes">
      </div>
    </div>
    
    <div class="modal-footer"> 
    </div>
  </div>
</div>
</div>